.DS_Store
Thumbs.db

.rbenv/
.rvm/
.bundle
log/
tmp/
pid/
*.gem
*.rbc
*.sass-cache/
capybara-*.html
coverage/
spec/reports/
test/tmp/
test/fixtures/
public/assets/
public/packs/
public/packs-test/
node_modules/
yarn-error.log
yarn-debug.log*

webpack/
webpacker/
package-lock.json
yarn.lock

.idea/
.vscode/
*.swp
*.swo

.env
.env.*
.credentials/

openssl-1.1.1l/
openssl-1.1.1l.tar.gz

storage/*.sqlite3
storage/*.sqlite3-*

config/master.key
.byebug_history
log/